
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete - スマート京とびら</title>
    <link href="Content/bootstrap.css" rel="stylesheet"/>
    <link href="Content/site.css" rel="stylesheet"/>
    <script src="Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">スマート京とびら</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/LockInfoes">錠管理</a></li>
                    <li><a href="/KeyInfoes2">鍵管理</a></li>
                    <li><a href="/KeyLogs">ログ</a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register" id="registerLink">登録</a></li>
        <li><a href="/Account/Login" id="loginLink">ログイン</a></li>
    </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KeyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            名前
        </dt>

        <dd>
            川沿いリバーサイド玄関
        </dd>

        <dt>
            有効
        </dt>

        <dd>
            <input checked="checked" class="check-box" disabled="disabled" type="checkbox" />
        </dd>

        <dt>
            鍵ID
        </dt>

        <dd>
            qwerty
        </dd>

        <dt>
            使用者名
        </dt>

        <dd>
            kinomaster
        </dd>

        <dt>
            使用開始日
        </dt>

        <dd>
            2016/05/06
        </dd>

        <dt>
            使用終了日
        </dt>

        <dd>
            2016/06/01
        </dd>

        <dt>
            更新日
        </dt>

        <dd>
            2016/05/18 08:54
        </dd>

        <dt>
            登録日
        </dt>

        <dd>
            2016/05/18 08:54
        </dd>

        <dt>
            更新者
        </dt>

        <dd>
            
        </dd>

        <dt>
            登録者
        </dt>

        <dd>
            
        </dd>

    </dl>

<form action="/KeyInfoes2/Delete/1" method="post"><input name="__RequestVerificationToken" type="hidden" value="m6DjNoP9-lbPrQvoN94xzQ7aQbvjCl05a6AO82fnlxf5i0aNUnvFCIsP6FT4c9fE3D43uoiwhOiA3yJVHj7BsBMXQ28oLUuWt84paoQUBqY1" />        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="/KeyInfoes2">Back to List</a>
        </div>
</form></div>

        <hr />
        <footer>
            <p>&copy; 2016 - スマート京とびら</p>
        </footer>
    </div>

    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/bootstrap-datepicker.js"></script>
    <script src="Scripts/respond.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
